absl-py==0.7.1
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
atari-py==0.1.7
atomicwrites==1.3.0
attrs==19.1.0
autobahn==19.3.3
backcall==0.1.0
baselines==0.1.5
beautifulsoup4==4.8.0
black==19.3b0
bleach==1.5.0
blis==0.2.4
Bottleneck==1.2.1
box2d-py==2.3.8
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==0.8.1
cmarkgfm==0.4.2
coverage==4.5.3
coveralls==1.6.0
cryptography==2.6.1
cycler==0.10.0
cymem==2.0.2
Cython==0.29.6
dataclasses==0.6
decorator==4.4.0
defusedxml==0.5.0
dill==0.2.9
docker-py==1.10.3
docker-pycreds==0.2.1
docopt==0.6.2
docutils==0.14
entrypoints==0.3
fastai==1.0.55
fastprogress==0.1.21
fastzbarlight==0.0.14
future==0.17.1
gast==0.2.2
glfw==1.7.1
grpcio==1.11.0
-e git+https://github.com/openai/gym.git@c1285d52555cf611f91cefcca7654a12cd32ff3b#egg=gym
h5py==2.9.0
html5lib==0.9999999
idna==2.8
imageio==2.5.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
jedi==0.13.3
Jinja2==2.10
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lockfile==0.12.2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
-e git+https://github.com/Unity-Technologies/ml-agents.git@37d139af636e4a2351751fbf0f2fca5a9ed7457f#egg=mlagents&subdirectory=ml-agents
-e git+https://github.com/Unity-Technologies/ml-agents.git@37d139af636e4a2351751fbf0f2fca5a9ed7457f#egg=mlagents_envs&subdirectory=ml-agents-envs
mock==2.0.0
more-itertools==7.0.0
mpi4py==3.0.1
murmurhash==1.0.2
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
numexpr==2.6.9
numpy==1.17.0
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python==4.0.0.21
packaging==19.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
pbr==5.1.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.9.0
preshed==2.0.1
progressbar2==3.39.3
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.1
ptan==0.3
ptyprocess==0.6.0
py==1.8.0
pybullet==2.4.8
pycparser==2.19
pyglet==1.3.2
Pygments==2.3.1
pylint==2.3.1
pynvx==1.0.0
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyrsistent==0.14.11
PySocks==1.6.8
pytest==3.10.1
pytest-cov==2.6.1
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2018.9
PyYAML==5.1
pyzmq==18.0.0
qtconsole==4.4.3
readme-renderer==24.0
requests==2.10.0
requests-toolbelt==0.9.1
roboschool==1.0.46
scipy==1.2.1
seaborn==0.8.1
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.2
spacy==2.1.7
-e git+https://github.com/openai/spinningup.git@97c8c342c45e5bb51005a8515df23ba9c48f0782#egg=spinup
srsly==0.0.7
tensorboard==1.7.0
tensorboard-pytorch==0.7.1
tensorflow==1.7.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
thinc==7.0.8
toml==0.10.0
torch==1.0.1.post2
torchvision==0.2.2
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
txaio==18.8.1
typed-ast==1.3.1
typing==3.7.4
urllib3==1.24.1
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.2
widgetsnbextension==3.4.2
wrapt==1.11.1
zmq==0.0.0
